/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root{
    --heading-font: 'Changa', sans-serif;
    --para-font: 'Poppins', sans-serif;
    --background: #f5e897;
    --text: #000000;
    --button-text: #ffffff;
    --accent: #b3b3b3;
}

html body{
    margin: 0;
}

header{
    padding-left: 5%;
    padding-right: 5%;
}

h1{
    font-family: var(--heading-font);
    font-weight: 800;
    color: var(--text);
}

h2{
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--text); 
}

h3{
    font-family: var(--para-font);
    font-weight: 500;
    color: var(--text);
}

p{
    font-family: var(--para-font);
    font-weight: 300;
    color: var(--text);
}

ul li{
    font-family: var(--para-font);
    font-weight: 300;
    color: var(--text);
}

form label, input, textarea{
    font-family: var(--para-font);
    margin-top: 10px;
}

input, textarea{
    margin-bottom: 20px;
    padding: 2%;
}

a{
    color: var(--text);
}

img{
    width: 25%;
}

.centered-div{
    text-align: center;
    width: 100%;
    margin: 10% 0;
}

.black-button{
    font-family: var(--para-font);
    text-decoration: none;
    color: var(--button-text);
    background-color: var(--text);
    border: var(--text);
    padding: 15px 20px;
    border-radius: 5px;
}

.button-icon{
    font-size: 1.5rem;
}

.button-icon i{
    padding-left: 10px;
}

.h3-icon{
    font-size: 2.5rem;
}

#events{
    background-color: var(--background);
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
}

#connect{
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
}

#email-us{
    margin-top: 15%;
}


